body {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    line-height: 1.8;
    color: #222;
    background: #fafafa;
}

.container {
    max-width: 720px;
    margin: auto;
    padding: 60px 20px;
}

/* Header */
header {
    margin-bottom: 60px;
}

h1 a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #666;
}

nav a:hover {
    color: black;
}

/* Text */
h2 {
    margin-top: 40px;
    font-weight: 500;
}

p {
    margin-bottom: 1.6em;
}

/* Links */
a {
    color: #222;
}
